RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.schooloffreelancing.com/$1 [R,L]
RewriteCond %{HTTP_HOST} !^www\.schooloffreelancing\.com
RewriteRule (.*) http://www.schooloffreelancing.com/$1 [R=301,L]

RewriteCond %{HTTP_REFERER} !^http://schooloffreelancing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://schooloffreelancing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.schooloffreelancing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.schooloffreelancing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://schooloffreelancing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://schooloffreelancing.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.schooloffreelancing.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.schooloffreelancing.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]



RewriteEngine On
RewriteRule (.*)index\.html$ /$1 [NS,R=301,L]
